* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  }

  body{
    font-family: 'Nunito', sans-serif;
  }

  h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
  }
  
  .navbar-brand{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    color: #eeeeee;
  }
  .navbar-brand:hover{
    color: white !important;
  }
  .landing{
    height: 100vh;
    /* background-color: black; */
    /* background-image: url(img/head-b.png) no-repeat center center fixed; */
    background: url(../img/head-c.png) no-repeat center center fixed;
    background-size: cover;
  }
  .nav{
    padding-left: 150px;
  }
  .nav-link{
    font-size: 20px !important;
    color: #eeeeee !important;
  }
  .tl{
    font-size: 13px !important;
    color: #eeeeee !important;
    padding-top: 15px;
  }
  .navbar-nav a{
    padding-right: 30px !important;
    text-decoration: none;
  }
  .navbar-nav .nav-link:hover{
    color: white !important;
  }
  .bg-b{
    background-color: black;
  }
  /* .hh{
    height: 100vh;
  } */
  .h1_text{
    /* position: absolute; */
    /* top: 140px; */
    /* left: 100px; */
    color: white;
    padding: 10px 0px 0px 90px;
    font-size: 100px;
  }
  .p_head{
    padding: 0px 10px 30px 90px;
    /* position: absolute; */
    /* top: 500px; */
    /* left: 100px; */
    width: 500px;
    color: white;
    font-size: 18px;
  }
  .scroll{
    /* position: absolute; */
    display: flex;
    align-items: top;
    padding: 10px 0px 0px 90px;
    /* top: 650px; */
    /* left: 100px; */
    /* width: 500px; */
    color: white;
    font-size: 15px;
  }
  .scroll img{
    max-width: 50px;
    max-height: 30px;
    margin-top: 10px;
    padding-right: 15px;
  }
  .tb{
    background-color: rgb(113,139,167); 
    height: 100vh;
  }
  .tb h2{
    padding: 35px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: bold;
  }
  .tb_g{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tb_g img{
    max-width: 30%;
    max-height: 100%;
    /* margin-top: 10px; */
    padding-right: 15px;
  }
  .tb_g p{
    font-size: 18px;
  }
  .tb_icont{
    display: flex;
    justify-content: center;
  }
  .tb_i{
    width: 300px;
    margin: 15px;
    padding: 0px 20px 0px 20px;
    /* flex: 1 1 auto; */
    /* line-height: 40px; */
  }
  .tb_iimg{
    width: 100%;
  }
  .tb_iimg h2{
    width: 100%;
  }
  .tb_ibody p{
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
  }
  .tb_i + .tb_i {
    border-left: solid 1px white;
  }
  @media screen and (max-width: 990px) {
    .landing{
      height: auto;
    }
    .nav{
      padding-left: 0px;
    }
    .nav1{
      text-align: right;
    }
    .h1_text{
      padding: 0px 5px 0px 20px;
      font-size: 90px;
    }
    .p_head{
      padding: 50px 5px 50px 20px;
      font-size: 15px;
      width: auto;
    }
    .scroll{
      padding: 0vh 5px 0px 20px;
      font-size: 13px;
    }
    .tb{
      height: auto;
    }
    .tb-p{
      height: auto;
    }
    .tb_g{
      flex-wrap: wrap;    
    }
    .tb_g p{
      text-align: center;    
    }
    .tb_g img{
      max-width: 100%;
      /* max-height: 100%; */
      /* margin-top: 10px; */
      padding-right: 0px;
    }
    .tb_icont{
      flex-wrap: wrap;
    }
    .tb_i{
      width: auto;
      margin: 50px ;
    }
    .tb_iimg{
      width: auto;
    }
    .tb_iimg h2{
      width: 100%;
    }
    .tb_ibody p{
      text-align: center;
      /* margin-bottom: 10px; */
      padding: 0px;
      font-size: 20px;
      font-family: 'Space Grotesk', sans-serif;
    }
    .tb_i + .tb_i {
      border-left: solid 0px white;
      border-top: solid 1px white;
    }
  }
  .tb-p{
    background-color: #eeeeee;
     height: 100vh;
     vertical-align: middle;
  }
  .tb-p h2{
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: bold;
  }
  .hasil{
    padding: 10px 10px 50px 10px;
  }